# Configurações da Aplicação
PORT=3000
NODE_ENV=development

# Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_NAME=shortz_db
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

# JWT
JWT_SECRET=seu_secret_super_secreto_aqui

# URLs
BASE_URL=http://localhost:3000